#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;

}

.background {
  position: absolute;
  width: 250px;
  height: 750px;
  border-radius: 20px;
  left: 40%;
}
