<template id="lightCell">
  <div v-bind:class="color" class="lightCircle">
    <div v-bind:class="{ activeLight: isActive }" class="disableLight"></div>
    <span v-if="isActive" class="lightNumber">{{ time }}</span>
  </div>
</template>

<script>
export default {
  name: 'LightCell',
  props: {
    color: {
      type: String
    },
    isActive: {
      type: Boolean
    },
    time: {
      type: Number
    }
  }
}
</script>

<style>
  .lightCircle {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 100px;
  }
  .red {
    background: red;
  }
  .yellow {
    background: yellow;
  }
  .green {
    background: green;
  }
  .disableLight {
    width: 200px;
    height: 200px;
    background-color: #000;
    opacity: 0.7;
  }
  .activeLight {
    opacity: 0;
  }
  .lightNumber {
    margin-top: -70px;
    font-size: 60px;
    line-height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
</style>
