<template id="traffic-light-template">
  <div class="traffic-light">
    <LightCell
      :color="'red'"
      :isActive="isRed"
      :time="isRed ? time : ''"/>
    <LightCell
      :color="'yellow'"
      :isActive="isYellow"
      :time="isYellow ? time : ''"/>
    <LightCell
      :color="'green'"
      :isActive="isGreen"
      :time="isGreen ? time : ''"/>
  </div>
</template>

<script>
import LightCell from '@/components/Light'
export default {
  name: 'TrafficLight',
  components: {
    LightCell
  },
  data: function () {
    return {
      isRed: true,
      isYellow: false,
      isGreen: false,
      current: 'red',
      previous: null,
      time: 10,
      timer: null
    }
  },
  props: {
    activeTime: {
      type: Number
    },
    color: {
      type: String,
      default: 'red'
    }
  },
  created: function () {
    this.current = this.color
    this.setActiveLight(this.current)
    this.startTimer()
  },
  watch: {
    '$route': function () {
      this.time = this.startTime
      this.previous = this.current
      this.current = this.color
      this.setActiveLight(this.current)
      this.startTimer()
    }
  },
  methods: {
    changeLight: function () {
      console.log('current: ' + this.current + ' previous: ' + this.previous)
      if (this.current === 'green' || this.current === 'red') {
        this.$router.replace(`/yellow`)
      } else if (this.current === 'yellow' && this.previous === 'red') {
        this.$router.replace(`/green`)
      } else if (this.current === 'yellow' && this.previous === 'green') {
        this.$router.replace(`/red`)
      } else if (this.current === 'yellow' && this.previous === null) {
        this.$router.replace(`/green`)
      }
      this.previous = this.current
    },
    setActiveLight: function (page) {
      switch (page) {
        case 'red':
          this.isRed = true
          this.isYellow = false
          this.isGreen = false
          break
        case 'yellow':
          this.isRed = false
          this.isYellow = true
          this.isGreen = false
          break
        case 'green':
          this.isRed = false
          this.isYellow = false
          this.isGreen = true
          break
      }
    },
    startTimer: function () {
      this.time = this.activeTime
      if (this.timer) clearInterval(this.timer)
      this.timer = setInterval(this.setCurrentTime, 1000)
    },
    setCurrentTime: function () {
      if (this.time > 1) {
        this.time--
      } else {
        clearInterval(this.timer)
        this.changeLight()
      }
    }
  }
}
</script>

<style>
  .traffic-light {
    width: 250px;
    height: 650px;
    background-color: black;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
</style>
