<template>
  <div class="background" id="app">
    <h1>Trafficlight</h1>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  @import 'assets/css/main.css';
</style>
